body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.branch-select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#branch-select {
    padding: 10px;
    margin-left: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#product-form {
    margin: 20px 0;
}

.category {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #e9ecef; /* Fondo gris para cada sección de productos */
    border-radius: 8px;
    box-sizing: border-box;
}

.category h2 {
    margin-bottom: 20px;
    color: #0056b3;
}

.product {
    margin-bottom: 20px;
}

.product h3 {
    margin-bottom: 10px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.instructions-section {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.product .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; /* Mantener los campos en una línea */
    gap: 10px; /* Añade un pequeño espacio entre los elementos */
}

.product .input-container > div {
    flex: 1;
    min-width: 150px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkbox-container input {
    margin-right: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

input.error {
    border: 2px solid red;
}

.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

/* Estilos responsivos para dispositivos móviles */
@media screen and (max-width: 600px) {
    body {
        margin: 10px;
    }

    input[type="text"], input[type="number"] {
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }

    h1, h2 {
        font-size: 18px;
    }

    label {
        font-size: 14px;
    }

    .checkbox-container {
        flex-direction: row;
        align-items: center;
    }

    .product .input-container {
        flex-wrap: nowrap;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .product .input-container > div {
        flex: 1;
        min-width: calc(50% - 10px);
    }
}
